
<nav class="white" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="/" class="brand-logo">YeYo</a>
    <ul class="right hide-on-med-and-down">
      <!-- <li><a href="/users/new">Sign Up</a></li>
      <li><a href="/users/login">Login</a></li> -->
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <!-- <li><a href="/users/new">Sign Up</a></li>
      <li><a href="/users/login">Login</a></li> -->
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>

<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text text-lighten-2">A To Do App</h1>
      <div class="row center">
        <h5 class="header col s12 light">A simple online app to track your todos</h5>
      </div>
      <div class="row center">
        <a href="/users/new" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"><img src="background1.jpg" alt="Unsplashed background img 1"></div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">Track Important Items</h5>

          <p class="light">We made it so you can keep track of important things in your life</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">group</i></h2>
          <h5 class="center">User Experience Focused</h5>

          <p class="light">We made it simple so you only have to do one thing.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">Fully Secure</h5>

          <p class="light">We use advanced technologies so no one can see your todos, but only you.</p>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">Keep everything on the cloud so you can access from anywhere</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="background2.jpg" alt="Unsplashed background img 2"></div>
</div>



<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">My Bio</h5>
        <p class="grey-text text-lighten-4">I like solving problems, exploring my creative bent and learning about anything and everything. Most of all I love building things, therefore I built this.</p>


      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Made by <a class="brown-text text-lighten-3" href="www.viditsaxena.com">Vidit</a>
    </div>
  </div>
</footer>


<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="js/materialize.js"></script>
<script src="js/init.js"></script>
