<nav class="white" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="/" class="brand-logo">YeYo</a>
    <ul class="right hide-on-med-and-down">

      <li><a href="/users/login">Login</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">

      <li><a href="/users/login">Login</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
<h3 class="center-align">Sign Up Below</h3>

<div class="row">

<div class="col s12 center-align">
  <form class="signup-form center-align" action="/users" method="post">
    <input class="center-align" type="text" name="user[username]" placeholder=".....username">
    <input class="center-align" type="password" name="password" placeholder=".....password">
    <button class="btn waves-effect waves-light black" type="submit" name="action">SignUp
  </button>

  </form>

</div>
</div>
